:root
{
    --bg-colour: #eee;
    --fg-colour: #333;

    color: var(--fg-colour);
    font: 3em/1 system-ui, sans-serif;
    background: var(--bg-colour);
    color-scheme: dark light;
}

@media (prefers-color-scheme: dark)
{
    :root
    {
        --bg-colour: #333;
        --fg-colour: #eee;
    }
}

h1
{
    margin-block: 0.5lh;
    line-height: 0.8em;
    /* stylelint-disable-next-line property-no-unknown */
    text-box: trim-both cap alphabetic;
    hyphens: auto;
}

a
{
    display: inline-block;
    color: inherit;
    text-decoration: none;
    margin-block: 0.25lh;
}

b
{
    font-weight: 800;
}

img
{
    --size: 1.5em;

    width: var(--size);
    height: var(--size);
    margin-inline-end: 1ch;
    vertical-align: middle;
    border-radius: 22.37%;
}

.df
{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    inline-size: max-content;
    max-inline-size: 100%;
    font-size: 0.5em;

    dd
    {
        margin: 0;
    }
}

.df__path,
.df__space
{
    display: block;
    font-variant-numeric: tabular-nums;
}

.df__path
{
    font-family: monospace;
}

.df__space
{
    display: flex;
    flex-wrap: wrap;
    gap: 0.25em 0.5em;
    place-content: space-between;
}
